<!--Call the app-header tag here instaed of index.html 
and main.ts, because this way I will call the bootstrapApplication
once, and the components can communicated with each other-->
<app-header />

<!--Call the app-user but wrap it up with main tags-->
<main>
  <ul id="users">
    <li>
      <app-user 
      [user] = "users[0]"
      (select)="onSelectUser($event)" />
    </li>

    <li>
      <app-user 
      [user] = "users[1]"
      (select)="onSelectUser($event)" />
    </li>

    <li>
      <app-user 
      [user] = "users[2]"
      (select)="onSelectUser($event)" />
    </li>

    <li>
      <app-user 
      [user] = "users[3]"
      (select)="onSelectUser($event)" />
    </li>
  </ul>

  <app-tasks [name]="selectedUser? selectedUser.name: ''"/>
</main>